.footer {
  // background-color: #306f44;
  background-color: #3e6ae1;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  letter-spacing: 1.3px;
  text-align: center;
  padding: 40px;
  a {
    text-decoration: none;
    color: #c9c6c6;
  }

}

.email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  input {
    position: relative;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid gold;
    outline: none ;
    padding: 10px 30px;
    max-width: 200px;
    border-radius: 8px;
    width: 100%;
    text-decoration: none;
    transition: 0.3s;
    &:focus {
      background-color: rgb(175, 149, 3);

    }
  }
  input::placeholder {
    color: white; 
    &:focus {
      color: black;
    }
  }
  
  button {
    max-width: 100px;
    width: 100%;
    background-color: transparent;
    border: none;
    color: #fff;
    letter-spacing: 5px;
    font-size: 16px;
    position: relative;
    margin-right: 13px;
  }
  button::after {
    content: ''; 
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%; 
    height: 2px; 
    background-color: rgb(175, 175, 1);
    transform: translateY(5px); 
 
  }
 

}
.sdct {
  max-width: 100px;
  border-radius: 50%;
}

.footer__sect {
display: flex;
flex-direction: column;
color: #f8f8f8;
justify-content: center;
  align-items: center;
  gap: 30px;
}
.footer__wrapper {
  display: flex;
  // gap: 40px;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  @media (max-width: 800px) {
    flex-direction: column;
    gap: 150px;
    justify-content: center;
    align-items: center;
  }
}
.footer__sect__1 {
gap: 80px;

p {
  color: #c9c6c6;
}
.text {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
}
.footer__sect__2 {
  justify-content: center;
  align-items: center;
  gap: 70px;
  flex-wrap: wrap;
}
.footer__sect__3 {
  justify-content: center;
  align-items: center;
  gap: 70px;
  @media (max-width: 990px) {
    padding-top: 50px;
  }
}
.social {
  width: 28px;
  border: 2px solid #f8f8f8;
  border-radius: 50%;
 padding: 4px;
 &:hover {
 }
}
.socials {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;

}
.links {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  justify-content: center;
  align-items: center;
a {
  color: rgb(151, 148, 148);
  text-align: center;

}
}

.links a::after {
  content: "·"; 
  margin-right: 0.5rem;
}

.links a:last-child::after {
  content: ""; 
}

.another {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
